.CheckButton {
    z-index: 400;
    position: fixed !important;
    right: 80px;
    bottom: 60px;
    opacity: 100%;
}

.Autorenew {
    animation: Autorenew-spin infinite 10s linear;
}

@keyframes Autorenew-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}